<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Snake Game</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        let tg = window.Telegram.WebApp;
        tg.expand();
        tg.viewportStableHeight = window.innerHeight * 0.9;
    </script>
</head>
<body>
    <h1 class="game-title">Snake classic</h1>
    <div class="game-container">
        <canvas id="gameCanvas"></canvas>
    </div>

    <button id="pause">Начать игру</button>
    <div class="controls">
        <button id="up">▲</button>
        <div class="horizontal-controls">
            <button id="left">◀</button>
            <button id="down">▼</button>
            <button id="right">▶</button>
        </div>
    </div>

    <script type= "module" src="static/script.js"></script>
</body>
</html>